html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}
*, 
*:before, 
*:after {
    box-sizing: inherit;
  }
 
  img{
    max-width: 100%;
  }
  h1{
    font-size: 4rem;
  }
  .contenedor{
    max-width: 120rem;
   margin-top: 0%;
   margin-right: auto;
   margin-bottom: 0%;
   margin-left: auto;
    background-color: rgb(255, 118, 232)
  }
  @media( min-width:768px){
    .tres_columnas{
      display: grid;
      grid-template-columns: repeat(3,1rf);
      column-gap: 2rem;
    }

  }
 
  .entradaa{
    display: inline-block;
    background-color: blueviolet;
    color: aliceblue;

  }
  .entradab{
    display: inline-block;
    background-color: rgb(226, 223, 43);
    color: rgb(0, 0, 0);

  }
  .entradac{
    display: inline-block;
    background-color: rgb(1, 194, 242);
    color: rgb(57, 0, 83);

  }